
.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .c { color: black } /* Comment */
.highlight .err { color: black } /* Error */
.highlight .g { color: black } /* Generic */
.highlight .k { color: black } /* Keyword */
.highlight .l { color: black } /* Literal */
.highlight .n { color: black } /* Name */
.highlight .o { color: black } /* Operator */
.highlight .x { color: black } /* Other */
.highlight .p { color: black } /* Punctuation */
.highlight .cm { color: black } /* Comment.Multiline */
.highlight .cp { color: black } /* Comment.Preproc */
.highlight .c1 { color: black } /* Comment.Single */
.highlight .cs { color: black } /* Comment.Special */
.highlight .gd { color: black } /* Generic.Deleted */
.highlight .ge { color: black; font-style: italic } /* Generic.Emph */
.highlight .gr { color: black } /* Generic.Error */
.highlight .gh { color: black } /* Generic.Heading */
.highlight .gi { color: black } /* Generic.Inserted */
.highlight .go { color: black } /* Generic.Output */
.highlight .gp { color: black } /* Generic.Prompt */
.highlight .gs { color: black; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: black } /* Generic.Subheading */
.highlight .gt { color: black } /* Generic.Traceback */
.highlight .kc { color: black } /* Keyword.Constant */
.highlight .kd { color: black } /* Keyword.Declaration */
.highlight .kn { color: black } /* Keyword.Namespace */
.highlight .kp { color: black } /* Keyword.Pseudo */
.highlight .kr { color: black } /* Keyword.Reserved */
.highlight .kt { color: black } /* Keyword.Type */
.highlight .ld { color: black } /* Literal.Date */
.highlight .m { color: black } /* Literal.Number */
.highlight .s { color: black } /* Literal.String */
.highlight .na { color: black } /* Name.Attribute */
.highlight .nb { color: black } /* Name.Builtin */
.highlight .nc { color: black } /* Name.Class */
.highlight .no { color: black } /* Name.Constant */
.highlight .nd { color: black } /* Name.Decorator */
.highlight .ni { color: black } /* Name.Entity */
.highlight .ne { color: black } /* Name.Exception */
.highlight .nf { color: black } /* Name.Function */
.highlight .nl { color: black } /* Name.Label */
.highlight .nn { color: black } /* Name.Namespace */
.highlight .nx { color: black } /* Name.Other */
.highlight .py { color: black } /* Name.Property */
.highlight .nt { color: black } /* Name.Tag */
.highlight .nv { color: black } /* Name.Variable */
.highlight .ow { color: black } /* Operator.Word */
.highlight .w { color: black } /* Text.Whitespace */
.highlight .mf { color: black } /* Literal.Number.Float */
.highlight .mh { color: black } /* Literal.Number.Hex */
.highlight .mi { color: black } /* Literal.Number.Integer */
.highlight .mo { color: black } /* Literal.Number.Oct */
.highlight .sb { color: black } /* Literal.String.Backtick */
.highlight .sc { color: black } /* Literal.String.Char */
.highlight .sd { color: black } /* Literal.String.Doc */
.highlight .s2 { color: black } /* Literal.String.Double */
.highlight .se { color: black } /* Literal.String.Escape */
.highlight .sh { color: black } /* Literal.String.Heredoc */
.highlight .si { color: black } /* Literal.String.Interpol */
.highlight .sx { color: black } /* Literal.String.Other */
.highlight .sr { color: black } /* Literal.String.Regex */
.highlight .s1 { color: black } /* Literal.String.Single */
.highlight .ss { color: black } /* Literal.String.Symbol */
.highlight .bp { color: black } /* Name.Builtin.Pseudo */
.highlight .vc { color: black } /* Name.Variable.Class */
.highlight .vg { color: black } /* Name.Variable.Global */
.highlight .vi { color: black } /* Name.Variable.Instance */
.highlight .il { color: black } /* Literal.Number.Integer.Long */